In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
taxi_summary_final = "taxi_final_df.csv"
taxi_final_df = pd.read_csv(taxi_summary_final)

In [3]:
taxi_final_df.head()

   Unnamed: 0        Date  Ride Count
0           0  2014-01-01      420810
1           1  2014-01-02      359958
2           2  2014-01-03      275470
3           3  2014-01-04      417499
4           4  2014-01-05      388542